<!DOCTYPE html>
<html lang="en">
<%- include partials/head %>

<body>
  <%- include partials/header %>
    <main>
        <%- body %>
    </main>
  <%- include partials/contact %>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  <script src="/assets/js/identity.js"></script>
</body>

</html>