<!DOCTYPE html>
<html lang="en">
  <%- include partials/head-default.ejs %>
<body style="display: flex;
flex-direction: column; /* creates rows out of the elements main and footer */
height: 100vh; 
margin:0;">
  <%- include partials/header %>
  <main style="flex: 1 0 auto;">
    <%- body %>
  </main>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  <%- include partials/footer %>
</body>
</html>